body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #fff;
    color: #000000;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    align-items: center;
}

.header-left img {
   width: 250px;  /* Adjust the width as needed */
    height: Auto; /* Maintain aspect ratio */
  }


.header-right {
    display: flex;
    align-items: left;
    margin-right: 5px;
    justify-content: space-between;

}

.search-button {
    font-size: 18px;
    margin-left: 5px; /* Add some space between the search and donate buttons */
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.donate-button {
    display: block;
    margin: 10px auto; /* Center the button */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    background-color: #fcb900;
    color: #000000;
    cursor: pointer;
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-right:10px;

}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative; /* Required for positioning the dropdown content */
    /* margin-right: 20px; Add some spacing between menu items */
}

nav ul li > a[href="#navbar-item"]  {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 0 30px;
    padding: 15px 15px;
    transition: color 0.2s; 
}

nav ul li:hover > a[href="#navbar-item"]  {
    border: 2px solid #f39c12;
}
/* Hide the dropdown content by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcb900;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 180px;
    z-index: 1;
}

/* Show the dropdown content on hover */
nav ul li:hover .dropdown-content {
    display: block; /* Change display to flex */
    text-align: left;
    text-decoration: none;
}

/* Style the dropdown menu items */
.dropdown-content li {
    margin: 10px 20px;
}

.dropdown-content li a {
    color: #333;
    text-decoration: none;
}

/* Style the dropdown menu items on hover */
.dropdown-content li:hover {
    background-color: #f1f1f1;
    display: block;

}
.dropdown-content li a:hover {
    border: none;
}


section {
    padding: 20px;
}

.home-section {
    background-image: url('images/doctors4.jpg'); /* Replace 'path/to/your/background-image.jpg' with your actual background image path */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0; /* Increase the vertical padding to make the section taller */
    height: 400px; 
    border: 8px solid #fcb900; /* Add a 2px solid border around the home section */
}

.home-content {
    max-width: 600px;
    margin: 0 auto;
}

.home-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 15px;
    font-weight: bold;
}

#about {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
    border: 8px solid #242424; /* Add a 2px solid border around the home section */
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
}

.about-sentence {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 80px;
}

.numbers {
    display: flex;
    justify-content: center;
}

.number-box {
    position: relative;
    width: 180px;
    height: 160px;
    background-color:transparent;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin:20px 50px;
    /* border: 2px solid #333; */
}

.number-label {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;

}

.see-impact-button {
    display: block;
    margin: 20px auto; /* Center the button */
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #FFA500; /* Add a border to the button */
    border-radius: 5px;
    background-color: #fff;
    color: #FFA500;
    cursor: pointer;
}

.services-section {
    background-color: #FFA500;
    padding: 40px;
    text-align: center;
}

.services-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-column {
    flex: 0 0 48%; /* Use approximately 48% of the available space for each column */
    margin-bottom: 20px;
    margin-left: 20px;
}

.service-column h3 {
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 18px;

}

ul li {
    margin-bottom: 10px;
}

.donate-button-red {
    display: block;
    margin: 10px auto; /* Center the button */
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #fff; /* Red background color for the donate button */
    color: #000000;
    cursor: pointer;
    border: 2px solid #000000; 
}


footer {
    background-color: #fff;
    color: #000000;
    padding: 10px;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.organization {
    display: flex;
    align-items: center;
}

.organization img {
    width: 175px; /* Adjust the size of the organization logo as needed */
    height: 100px; /* Adjust the size of the organization logo as needed */
    margin-right: 10px;
    margin-left: 20px;
    vertical-align: middle;
}

.social-media img {
    width: 40px; /* Adjust the size of the social media logos as needed */
    height: 40px; /* Adjust the size of the social media logos as needed */
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.footer-column {
    flex: 0 0 23%; /* Each column occupies approximately 23% of the available space */
}

.footer-column.address-phone {
    flex: 0 0 30%; /* Adjust the width of the first column */
}

.footer-column p {
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

.footer-row .footer-column {
    display: inline-block; /* Display the paragraphs on the same line */
    /* margin-right: 10px; */
    margin-left: 30px; /* Add spacing between the columns */
}


/* .footer-row .footer-column:first-child p {
    display: inline-block; /* Display the paragraphs on the same line */
    /* margin-right: 20px;*/ 
